Repository GolosChain/golos.io: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --ignore-pattern '!src', prettier --write

refactor: add open graph tags according to post content (#736)
  src/containers/post/PostContent/PostContent.js
  src/pages/_app.js
  src/pages/_document.js
  src/utils/bodyProcessing/extractContent.js
  src/utils/common.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: extractDescBody
  src/utils/bodyProcessing/extractContent.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: improve
  src/utils/bodyProcessing/extractContent.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: extractDescBody (#737)
  src/utils/bodyProcessing/extractContent.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: don't proxy inlile images
  src/utils/images.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: don't proxy inlile images (#738)
  src/utils/images.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: add KUNA advert blocks
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.js
  src/components/advertisement/KunaMainAdvertisement/index.js
  src/components/advertisement/KunaSideAdvertisement/KunaSideAdvertisement.js
  src/components/advertisement/KunaSideAdvertisement/index.js
  src/components/cards/PostCard/PostCard.js
  src/components/cards/common/common.js
  src/components/common/CardsList/CardsList.js
  src/containers/home/content/HomeContent.js
  src/containers/home/sidebar/HomeSidebar.js
  src/static/kuna/main_1.png
  src/static/kuna/main_2.png
  src/static/kuna/side_1.png
  src/static/kuna/side_2.png
  src/static/kuna/side_3.png
Due: stylelint --ignore-pattern '!src', prettier --write

fix: fixes
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.connect.js
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.js
  src/components/advertisement/KunaMainAdvertisement/index.js
  src/components/common/CardsList/CardsList.js
  src/containers/home/sidebar/HomeSidebar.connect.js
  src/containers/home/sidebar/HomeSidebar.js
  src/containers/home/sidebar/index.js
Due: stylelint --ignore-pattern '!src', prettier --write

add kuna advert (#739)
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.connect.js
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.js
  src/components/advertisement/KunaMainAdvertisement/index.js
  src/components/advertisement/KunaSideAdvertisement/KunaSideAdvertisement.js
  src/components/advertisement/KunaSideAdvertisement/index.js
  src/components/cards/PostCard/PostCard.js
  src/components/cards/common/common.js
  src/components/common/CardsList/CardsList.js
  src/containers/home/content/HomeContent.js
  src/containers/home/sidebar/HomeSidebar.connect.js
  src/containers/home/sidebar/HomeSidebar.js
  src/containers/home/sidebar/index.js
  src/static/kuna/main_1.png
  src/static/kuna/main_2.png
  src/static/kuna/side_1.png
  src/static/kuna/side_2.png
  src/static/kuna/side_3.png
Due: stylelint --ignore-pattern '!src', prettier --write

feat: add kuna link
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.js
  src/components/advertisement/KunaSideAdvertisement/KunaSideAdvertisement.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: add kuna link (#740)
  src/components/advertisement/KunaMainAdvertisement/KunaMainAdvertisement.js
  src/components/advertisement/KunaSideAdvertisement/KunaSideAdvertisement.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: hide posts with low rating and with low reputation of authors
  src/components/cards/PostCard/PostCard.connect.js
  src/components/cards/PostCard/PostCard.js
  src/containers/post/Post/Post.connect.js
  src/containers/post/Post/Post.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: hide posts with low rating and with low reputation of auth… (#741)
  src/components/cards/PostCard/PostCard.connect.js
  src/components/cards/PostCard/PostCard.js
  src/containers/post/Post/Post.connect.js
  src/containers/post/Post/Post.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix stopwitness
  src/locales/en.json
  src/locales/ru-RU.json
  src/locales/ua.json
  src/store/actions/cyberway/ctrl.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix stopwitness #743
  src/locales/en.json
  src/locales/ru-RU.json
  src/locales/ua.json
  src/store/actions/cyberway/ctrl.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: readonly
  jsconfig.json
  src/components/elements/postEditor/MarkdownEditor/MarkdownEditor.js
  src/components/golos-ui/Button/Button.js
  src/components/header/Header/Header.connect.js
  src/components/header/Header/Header.js
  src/components/header/TechnicalMessage/TechnicalMessage.js
  src/components/modules/CommentForm/CommentForm.connect.js
  src/components/modules/CommentForm/CommentForm.js
  src/locales/en.json
  src/locales/ru-RU.json
  src/shared/feature-flags.js
Due: stylelint --ignore-pattern '!src', prettier --write

feat: readonly 2
  src/components/elements/postEditor/MarkdownEditor/MarkdownEditor.js
  src/components/modules/CommentForm/CommentForm.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: readonly 3
  src/pages/submit.js.readonly
Due: none

fix: readonly 4
  src/components/header/Header/Header.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: readonly 5
  src/components/header/Header/Header.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: improve
  src/components/header/Header/Header.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: readonly 5 (#750)
  src/components/header/Header/Header.js
Due: stylelint --ignore-pattern '!src', prettier --write

fix: public lock
  .gitignore
  yarn.lock
Due: none

fix: improve
  .env.example
Due: none

fix: improve
  .env.example
  README.md
Due: prettier --write

fix: improve
  README.md
Due: prettier --write

feat: public
  .env.example
  .gitignore
  README.md
  yarn.lock
Due: prettier --write

Update Dockerfile
  Dockerfile
Due: none

fix: improve
  package.json
  yarn.lock
Due: none

fix: improve
  Dockerfile
  package.json
  yarn.lock
Due: none

fix: minor
  src/components/header/Header/Header.js
  src/containers/home/sidebar/HomeSidebar.js
  src/pages/_app.js
  src/pages/submit.js
  src/shared/feature-flags.js
  src/store/actions/gate/auth.js
Due: stylelint --ignore-pattern '!src', prettier --write

Minor fixes (#752)
  Dockerfile
  package.json
  src/components/header/Header/Header.js
  src/containers/home/sidebar/HomeSidebar.js
  src/pages/_app.js
  src/pages/submit.js
  src/shared/feature-flags.js
  src/store/actions/gate/auth.js
  yarn.lock
Due: stylelint --ignore-pattern '!src', prettier --write

Path conditions:
  stylelint --ignore-pattern '!src': any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
